@charset "utf-8";

body {margin:40px; font:12px "도웅";}
.box {width:550px;}
p {width:130px;height:80px;padding:10px; color:#fff; font-weight: bold;}
.mred {background: red; position:absolute; z-index:999;}
.mblue {background: blue;position:absolute;}
.mgreen {background: green;position:absolute;}